
<div class="col-md-6 col-md-offset-3 centered-text panel panel-default">
<h1>Are you ready to roll?</h1>
<h4>Enter a number to get the party started:</h4>
<%= params['msg'] %>
<form action="twilio/makecall" method="post">
    <input type="text" name="number" />
    <input type="submit" value="Call me!">
</form>
</div>
