<div class="hero">
  <div class="hero-inner">
    <div id="center">
      <div class="hero-copy">

        <h1>Whenever you need somebody</h1>

        <div id="alert" style="background: #FBE3E4">
          <%= params['msg'] %>
        </div>

        <form action="calls" method="post">
          <input type="number" name="number" placeholder="enter their number e.g. 202 225 2331" />
          <input type="submit" value="Never Give Them Up!">
        </form>

      </div>
    </div>
  </div>
